.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  vertical-align: middle;
  font-size: 2em;
  line-height: 3em;
  flex-grow: 0;
}

.App-header h1 {
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.App-game {
  width: 100vw;
  flex-grow: 1;
  overflow: hidden;
}

.hidden {
  display: none;
}

.GameOver {
  font-size: 1.7em;
  text-align: center;
  margin: 25px;
}

.GameOver-retry {
  text-align: center;
  margin: 35px;
}

.GameOver-retry a {
  background-color: #20335b;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #0b1939;
  cursor: pointer;
}
